
<div class="contain">

<ul class="nav nav-tabs">
<li class="nav-items">
  <a   class="nav-link" routerLink="/bar-chart" >Bar Charts</a>
</li>
  <li class="nav-items">
    <a   class="nav-link" routerLink="/doughnut-chart" >doughnut Charts</a>
  </li>
  <li class="nav-items">
    <a   class="nav-link" routerLink="/radar-chart" >radar Charts</a>
  </li>
  <li class="nav-items">
    <a   class="nav-link" routerLink="/pie-chart" >pie Charts</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/form" >Courbe</a>
  </li>
</ul>
    <div>
      <router-outlet>

      </router-outlet>
    </div>

</div>

