<!--<form name="form2" [formGroup]="form2" (ngSubmit)="onSubmitform()" >-->
  <!--<div class="form-group">-->
    <!--<label for="a">Type A</label>-->
    <!--<input required  id="a" class="form-control" type="text" formControlName="a" [ngClass]="{'is-invalid' : form2.get('a').touched && form2.get('a').invalid}" />-->
    <!--<div class="invalid-feedback">-->
      <!--<div >Champs A  is required</div>-->
    <!--</div>-->
  <!--</div>-->

  <!--<div class="form-group" >-->
    <!--<label for="b2">Type B</label>-->
    <!--<input type="text" id="b2" class="form-control" formControlName="b2" [ngClass]="{'is-invalid':form2.get('b2').touched && form2.get('b2').invalid}" required/>-->
    <!--<div class="invalid-feedback">-->
      <!--<div>Champs B is required</div>-->
    <!--</div>-->
  <!--</div>-->

  <!--<button class="btn btn-primary">submit</button>-->
<!--</form>-->


<div class="container">
  <div class="row">
    <div class="col-10">
      <div class="jumbotron">
        <h2>Valider Vos Donnes</h2>
        <form name="form" [formGroup]="form"  (ngSubmit)="form.valid && onSubmit()">
          <div class="form-group">
            <label for="a">Valeur de A</label>
            <input type="number" id="a" class="form-control" formControlName="a" [ngClass]="{'is-invalid':form.get('a').touched && form.get('a').invalid}" required />
            <div class="invalid-feedback">
              <div>First Name is required</div>
            </div>
          </div>
          <div class="form-group">
            <label for="b">Valeur de B</label>
            <input type="number" id="b" class="form-control" formControlName="b" [ngClass]="{'is-invalid':form.get('b').touched && form.get('b').invalid}" required />
            <div class="invalid-feedback">
              <div>Last Name is required</div>
            </div>
          </div>
          <div class="form-group">
            <label for="c">Valeur de C </label>
            <input type="number"  id="c" class="form-control" formControlName="c" [ngClass]="{'is-invalid':form.get('c').touched && form.get('c').invalid}"   />
            <div *ngIf="form.get('c').touched && form.get('c').invalid"  class="invalid-feedback">
              <div *ngIf="form.get('c').errors.required">c  is required</div>
            </div>
          </div>
          <div class="form-group">
            <label for="d">Valeur de D </label>
            <input type="number" id="d" class="form-control"  formControlName="d" [ngClass]="{'is-invalid':form.get('d').touched && form.get('d').invalid}" />
            <div *ngIf="form.get('d').touched && form.get('d').invalid"  class="invalid-feedback">
              <div *ngIf="form.get('d').errors.required">d is required</div>
            </div>

          </div>
          <div class="form-group">
            <button class="btn btn-primary"  [disabled]="!form.valid">Register</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="container" >

  <plotly-plot [data]="graph.data" [layout]="graph.layout"></plotly-plot>

</div>
